@media screen and (max-width:990px){
    .pie{
        margin-top: 30vw;
    }
}

@media screen and (max-width:775px){
    .pie{
        margin-top: 50vw;
    }
}

@media screen and (max-width:650px) {
    *{
        padding: 0;
        margin: 0;
    }
    
    @font-face {
        font-family: Outfit;
        src: url(../font/Outfit-Regular.ttf);
    }
    
    body{
        font-family: Outfit;
        max-width: 100%;
        overflow-x: hidden;
    }
    
    
    .web{
        height: 100vh;
    }
    
    /* Header con inicio y menú*/
    
    .top{
        display: flex;
        background-color: white;
        height: 3vw;
    }
    
    .redes{
        width: 2.3%;
        position: absolute;
        top: 0.4vw;
        right: 7%;
    }
    
    .redes1{
        width: 2.3%;
        position: absolute;
        top: 0.4vw;
        right: 4%;
    }
    
    .redes2{
        width: 2.3%;
        position: absolute;
        top: 0.4vw;
        right: 1%;
    }
    
    .header{
        height: 4vw;
        display: flex;
        width: 100%;
        border-top: solid black 1px;
    }

    .hleft a{
        display: none;
    }
    
    .hleft a.icon{
        font-size: 2.5vw;
        display: block;
        position: absolute;
        top: 15px;
        left: -30px;
        border: none;
    }

    .hleftresponsive a.icon{
        display: block;
        font-size: 2.5vw;
        position:absolute;
        left: 5px;
        top: 2px;
    }

    .hleftresponsive{
        position: relative;
        margin-right: 26.6%;
        background-color: white;
        width: 15%;
        height: 110px;
        border: solid black 2px;
        font-size: 2.5vw;
    }

    .hleftresponsive a{
        text-decoration: none;
        color: black;
    }

    .hleftresponsive a.r{
        display: block;
        position: absolute;
        top: 25px;
        left: 10px;
    }

    .hleftresponsive a.d{
        position: absolute;
        top: 45px;
        left: 10px;
    }

    .hleftresponsive a.z{
        position: absolute;
        top: 65px;
        left: 10px;
    }

    .hleftresponsive a.ac{
        position: absolute;
        top: 85px;
        left: 10px;
    }

    .hleftresponsive a.r:hover{
        display: block;
        position: absolute;
        top: 25px;
        left: 10px;
        font-weight: bold;
    }

    .hleftresponsive a.d:hover{
        position: absolute;
        top: 45px;
        left: 10px;
        font-weight: bold;
    }

    .hleftresponsive a.z:hover{
        position: absolute;
        top: 65px;
        left: 10px;
        font-weight: bold;
    }

    .hleftresponsive a.ac:hover{
        position: absolute;
        top: 85px;
        left: 10px;
        font-weight: bold;
    }
    
    .hleft1{
        width: 40%;
        text-align: center;
        display: flex;
    }
    
    .hleft>a{
        text-decoration: none;
        color: black;
        font-size: 1.8vw;
        padding: 1%;
        margin-left: 5%;
    }
    
    .hleft:hover{
        color: black;
        font-weight: bold;
    }
    
    .hright{
        width: 60%;
        display: flex;
    }
    
    .logo{
        width: 3vw;
        margin: 2%;
    }
    
    .enl{
        text-decoration: none;
        color: black;
        display: flex;
        margin-left: 7%;
    }
    
    .enl:hover{
        font-weight: bold;
    }
    
    .title{
        font-size: 2.5vw;
        margin-top: 1.5%;
        margin-left: 2%;
    }
    
    .boton2{
        border: solid black 2px;
        color: black;
        text-decoration: none;
        padding: 8%;
    }
    
    .a2{
        font-size: 1.3vw;
        margin-top: 1%;
    }
    
    .a2:hover{
        background-color: rgb(46, 46, 46);
        color: white;
    }
    
    .boton:hover {
        background-color: rgb(59, 59, 59);
    }
    
    .boton2:hover {
        background-color: rgb(59, 59, 59);
    }
    
    .posbot{
        margin-top: 2%;
        margin-left: 40%;
        display: flex;
        width: 10%;
    }
    
    /* Contenido de la web*/
    
    /* Pie de pagina con politicas etc*/

    .pie{
        margin-top: 70vw;
    }

    .p1{
        font-size: 1.2vw;
        padding-top: 1.5%;
        margin-left: 2%;
    }
    .a{
        text-decoration: none;
        color: white;
    }
    
    .a:hover{
        font-weight: bold;
        border-bottom: solid white 2px;
    }
}

@media screen and (max-width:550px){
    .in{
        height: 65%;
    }

    .pie{
        margin-top: 90vw;
    }
}

@media screen and (max-width:500px) {
    .in{
        height: 70%;
    }

    .hleft a.icon{
        font-size: 2.5vw;
        display: block;
        position: absolute;
        top: 12px;
        left: -26px;
        border: none;
    }

    .hleftresponsive a.icon{
        display: block;
        font-size: 2.5vw;
        position:absolute;
        left: 2px;
        top: 1px;
    }

    .hleftresponsive{
        position: relative;
        margin-right: 26.6%;
        background-color: white;
        width: 15%;
        height: 105px;
        border: solid black 2px;
        font-size: 2.5vw;
    }
}

@media screen and (max-width:475px){
    .in{
        height: 75%;
    }
    .pie{
        margin-top: 120vw;
    }
}

@media screen and (max-width:420px) {
    .in{
        height: 80%;
    }

    .hleft a.icon{
        font-size: 2.5vw;
        display: block;
        position: absolute;
        top: 10px;
        left: -24px;
        border: none;
    }

    .hleftresponsive a.icon{
        display: block;
        font-size: 2.5vw;
        position:absolute;
        left: 2px;
        top: 1px;
    }

    .hleftresponsive{
        position: relative;
        margin-right: 26.6%;
        background-color: white;
        width: 15%;
        height: 105px;
        border: solid black 2px;
        font-size: 2.5vw;
    }
}

@media screen and (max-width:400px){
    .in{
        height: 85%;
    }

    .pie{
        margin-top: 150vw;
    }
}

@media screen and (max-width:350px) {
    .pie{
        margin-top: 170vw;
    }

    .in{
        height: 95%;
    }

    .hleft a.icon{
        font-size: 2.5vw;
        display: block;
        position: absolute;
        top: 8px;
        left: -20px;
        border: none;
    }

    .hleftresponsive a.icon{
        display: block;
        font-size: 2.5vw;
        position:absolute;
        left: 2px;
        top: 1px;
    }

    .hleftresponsive{
        position: relative;
        margin-right: 26.6%;
        background-color: white;
        width: 16%;
        height: 100px;
        border: solid black 2px;
        font-size: 2.5vw;
    }
}